<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01a85956-d88e-4b5f-95ae-7e0cc761c33a" Alias="Collection" Level="1">
  <Info>
    <Name>Collection</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true
  },
  "icon": "icon-list",
  "includeProperties": [
    {
      "header": "Sort",
      "alias": "sortOrder",
      "isSystem": 1
    },
    {
      "header": "Last edited",
      "alias": "updateDate",
      "isSystem": 1
    },
    {
      "header": "Created by",
      "alias": "creator",
      "isSystem": 1
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    },
    {
      "name": "Grid",
      "icon": "icon-grid",
      "collectionView": "Umb.CollectionView.Document.Grid"
    }
  ],
  "orderBy": "sortOrder",
  "orderDirection": "desc",
  "pageSize": 10
}]]></Config>
</DataType>