<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d76f780-b2fc-4c45-b161-3ba5ced94f28" Alias="Custom RTE" Level="1">
  <Info>
    <Name>Custom RTE</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "label": "Headline"
    },
    {
      "contentElementTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "label": "Two Column"
    }
  ],
  "maxImageSize": 500,
  "mediaParentId": "b001a4cb-5f33-4957-917d-597ca0ea05a4",
  "mode": "Classic",
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "fontsize",
    "forecolor",
    "backcolor",
    "blockquote",
    "formatblock",
    "removeformat",
    "bold",
    "italic",
    "underline",
    "strikethrough",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "anchor",
    "table",
    "hr",
    "subscript",
    "superscript",
    "charmap",
    "rtl",
    "ltr",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "unlink",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>