<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94b822c3-211b-4cc5-a346-56f3cc4766ae" Alias="Document Picker - Products" Level="1">
  <Info>
    <Name>Document Picker - Products</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>