<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e52dbdae-598c-4b15-b4d2-c0edf8429313" Alias="People -  - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>People -  - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "6260e963-a534-4c5c-a733-d83c8f96d1f5,15aaadfc-0664-44d4-af87-829257762b3e",
  "ignoreUserStartNodes": false,
  "maxNumber": 100,
  "minNumber": 0,
  "showOpenButton": true,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originKey": "e8ad9b65-cff6-4952-ac5b-efe56a60db62",
      "originAlias": "ByKey",
      "querySteps": [
        {
          "unique": "28f8ff44-fdd9-4e19-9aea-9bd7a555d9ab",
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "15aaadfc-0664-44d4-af87-829257762b3e"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>