<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bc3fe99-9dbd-4b98-a615-4fdfbeabfac7" Alias="Slider" Level="1">
  <Info>
    <Name>Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>